<main class="main-section main-section_all-height ">
  <section class="login-section container">

    <div class="row">
      <div class="col s12 m6 offset-m3">
        <form class="auth-form" name="login-form" id="login-form" action="/login" method="post">
          <input type="hidden" name="hiddenTitle" value="secret-key">
          <div class="input-field">
            <input id="login" name="login" type="text" class="validate" required>
            <label for="login">Login</label>
          </div>
          <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>
          <button class="waves-effect waves-light btn" type="submit">Submit</button>
        </form>
      </div>
    </div>

  </section>
</main>